.azul_oscuro{
    background-color: #27374D;

}
.azul_medio{
    background-color: #526D82;
}
.azul_claro{
    background-color: #9DB2BF;
}
.gris{
    background-color: #DDE6ED;
}
.amarillo{
    background-color: #F2C94C;
}
.texto_azul_oscuro{
color: #27374D;
}
.container90{
width: 85%;
}
@font-face {
    font-family: "Playfair_Display";
    src: url(font/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf)format(truetype);
}
body{
    font-family: "Playfair_Display" , sans-serif;
}